<%- include("cabeceras/plantillas.ejs",{tituloWeb:'Mi Perfil'}) %>

<body>
    <div class="navbar-wrapper">
        <div class="container-fluid">
            <div class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/usuarios" style="margin-right:-8px; margin-top:-5px;">
                        <img alt="logo" src="/assets/logo-tecla.png" width="120px" height="30px">
                    </a>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="/usuarios">Teclers</a></li>
                            <li><a href="/miPerfil">Mi Perfil</a></li>
                        </ul>  
                        <a href="/login" type="button" class="btn btn-sm btn-danger pull-right"><i class='bx bx-exit'></i> Cerrar Sesion </a>          
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--///////////////////////////////////   PRIMER COLUMNA   ////////////////////////////////// -->
    <!-- barra lateral izquierda -->
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <!-- foto de perfil -->
                        <div class="col-md-2">
                            <a href="/buscar/<%= result.id_usuarios %>" class="btn btn-warning mt-4"><i class='bx bxs-edit bx-sm'></i> Editar perfil </a>
                        </div>
                        <div class="profile-userpic">
                            <img src="https://image.freepik.com/vector-gratis/perfil-empresario-dibujos-animados_18591-58479.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="profile-usertitle text-center">
                            <div class="profile-usertitle-name"><%= result.usuario %> </div>
                            <div class="profile-usertitle-job"> Developer </div>
                        </div>
                        <div class="media-body">
                            <hr>
                            <h4><strong>Nombre</strong></h3>
                            <p><%= result.nombres %> <%= result.apellidos %> </p>
                            <hr>
                            <h4><strong>Localizacion</strong></h3>
                            <p><%= result.ciudad %>, <%= result.pais %></p>
                            <hr>
                            <h4><strong>Edad</strong></h3>
                            <p><%= result.edad %></p>
                            <hr>
                            <h4><strong>Estudios</strong></h3>
                            <p><%= result.estudios %></p>
                            <hr>
                            <h4><strong>Idiomas</strong></h3>
                            <p>Idioma</p>
                            <hr>
                            <h4><strong>Hobies</strong></h3>
                            <p><%= result.hobies %></p>
                            <hr>
                            <h4><strong>LinkenIn</strong></h3>
                            <p><%= result.linkedin %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- //////////////////////////////////   SEGUNDA COLUMNA  //////////////////////////////// -->
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div class="profile-content">
                            <h3 class="text-center">INICIO DE CAPACITACION</h3>
                            <div class="row">

                                <div class="card ">
                                    <div class="card-header text-center"> CONOCIMIENTOS </div>
                                    <div class="card-body">
                                        <div class="progress"> Bases de datos
                                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width: (20*2%)" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">< %= tablas.bd %></div>
                                        </div>
                                        <div class="progress"> Apis
                                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 20%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">< %= tablas.apis %></div>
                                        </div>
                                        <div class="progress"> Testing
                                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">< %= tablas.testing %></div>
                                        </div>
                                        <div class="progress">Seguridad
                                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">< %= tablas.seguridad %></div>
                                        </div>
                                        <div class="progress">Teoria de objetos
                                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 20%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">< %= tablas.teoriaObj %></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card ">
                                    <div class="card-header text-center"> TECNOLOGIAS </div>
                                    <div class="card-body">
                                        <div class="progress">NodeJS
                                            <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 25%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">< %= tablas.nodeJs %></div>
                                        </div>
                                        <div class="progress">Frontend
                                            <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">< %= tablas.frontend %></div>
                                        </div>
                                        <div class="progress">Swagger
                                            <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">< %= tablas.swagger %></div>
                                        </div>
                                        <div class="progress">JavaScript
                                            <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">< %= tablas.js %></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card ">
                                    <div class="card-header text-center"> DESEMPEÑO </div>
                                    <div class="card-body">
                                        <div class="progress">Calidad de Codigo
                                            <div class="progress-bar progress-bar-info" role="progressbar" style="width: 25%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">< %= tablas.calidadCod %></div>
                                        </div>
                                        <div class="progress">Velocidad de Entrega
                                            <div class="progress-bar progress-bar-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">< %= tablas.velEntrega %></div>
                                        </div>
                                        <div class="progress">Performance de Codigo
                                            <div class="progress-bar progress-bar-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">< %= tablas.preformanceCod %></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card ">
                                    <div class="card-header text-center"> HABILIDADES BLANDAS </div>
                                    <div class="card-body">
                                        <div class="progress">Enfocado
                                            <div class="progress-bar progress-bar-success" role="progressbar" style="width: 25%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">< %= tablas.enfocado %></div>
                                        </div>
                                        <div class="progress">Trab. Equipo
                                            <div class="progress-bar progress-bar-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">< %= tablas.trabajoEq %></div>
                                        </div>
                                        <div class="progress">Comprometido
                                            <div class="progress-bar progress-bar-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">< %= tablas.comprometido %></div>
                                        </div>
                                        <div class="progress">Comunicacion
                                            <div class="progress-bar progress-bar-success" role="progressbar" style="width: 25%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">< %= tablas.comunicacion %></div>
                                        </div>
                                        <div class="progress">Aprendizaje
                                            <div class="progress-bar progress-bar-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">< %= tablas.aprendizaje %></div>
                                        </div>
                                        <div class="progress">Resolucion Probl
                                            <div class="progress-bar progress-bar-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">< %= tablas.resProblem %></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card ">
                                    <div class="card-header text-center"> ENTORNOS </div>
                                    <div class="card-body">
                                        <div class="progress">Github
                                            <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">< %= tablas.github %></div>
                                        </div>
                                        <div class="progress">Trello
                                            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">< %= tablas.trello %></div>
                                        </div>
                                        <div class="progress">Slack
                                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">< %= tablas.slack %></div>
                                        </div>
                                        <div class="progress">Agiles
                                            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">< %= tablas.agiles %></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>


<!-- ///////////////////////////////////   TERCER COLUMNA  ///////////////////////////////// -->
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div class="col-md-2">
                            <a href="/buscar/<%= result.id_usuarios %>" class="btn btn-warning mt-4"><i class='bx bxs-edit bx-sm'></i> Editar </a>
                        </div>
                        <div class="profile-content">
                            <h3 class="text-center">TECLER ACTUAL</h3>
                            <div class="row">
                                
                                <div class="card ">
                                    <div class="card-header text-center"> CONOCIMIENTOS </div>
                                    <div class="card-body">
                                        <div class="progress"> Bases de datos
                                            <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">3</div>
                                        </div>
                                        <div class="progress"> Testing
                                            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="progress">Seguridad
                                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="progress">Teoria de objetos
                                            <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card ">
                                    <div class="card-header text-center"> TECNOLOGIAS </div>
                                    <div class="card-body">
                                        <div class="progress">NodeJS
                                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="progress">Frontend
                                            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="progress">Swagger
                                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="progress">JavaScript
                                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card ">
                                    <div class="card-header text-center"> DESEMPEÑO </div>
                                    <div class="card-body">
                                        <div class="progress">Calidad de Codigo
                                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="progress">Velocidad de Entrega
                                            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="progress">Performance de Codigo
                                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>

    <script src=""></script>
</body>
</html>