<%- include("cabeceras/cabecera.ejs",{tituloWeb:'Lista de Usuarios'}) %>

<body>
    <div class="container-fluid"> 
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/usuarios"><img alt="logo" src="/assets/logo-tecla.png" width="120px" height="30px"></a>
                <a class="navbar-brand" href="/usuarios">Teclers</a>
                <a class="navbar-brand " href="/miPerfil/<%= results.id_usuarios %>">Mi Perfil</a>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03"></div>
            </div>
        </nav>
        <hr>
        <h1 id="titulo" class="text-center">COMUNIDAD TECLA</h2>
        <hr>

        <div class="container mt-5 mb-5">
            <div class="row">
                <% results.forEach((user)=>{ %>
                <div class="col-3 mt-2">
                    <div class="col text-center">
                        <div class="card h-100 item-Height">
                            <img class="card-img-top img-fluid" src="/assets/logo-tecla.png" alt="">
                            <div class="card-block">
                                <h2 class="card-title" ><%= user.usuario %></h4>
                                <h5 class="card-title" ><%= user.nombres %> <%= user.apellidos %></h4>
                                <p class="card-text"><%= user.ciudad  %>, <%= user.pais %></p>
                                <p class="card-text"><%= user.linkedin %></p>
                                <div class="col text-center mb-2">
                                    <a href="/verTecler/<%=user.id_usuarios%>" class="btn btn-outline-primary btn-block">Ver Perfil</a>
                                    <a onclick="agregarAmigo('<%= user.id %>')" class="btn btn-outline-success">Agregar</a>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>

            
    </div>

</body>
</html>